<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Source Server -->
    <add key="source.sharepoint.url" value="http://diddr.na.wkglobal.com/sites/WKHealth" />
    <add key="source.sharepoint.username" value="cmF2aW5kcmFuYXRoLnZhZGRhZGk=" />
    <add key="source.sharepoint.password" value="QWFydXNoQGgwbWUwNw==" />
    <add key="source.sharepoint.domain" value="na" />

    <!-- Target Server -->    
    <add key="target.sharepoint.url" value="http://edweb02d/sites/WKHealth001" />
    <add key="target.sharepoint.username" value="cnZhZGRhZGk=" />
    <add key="target.sharepoint.password" value="RGl0dHVAaDBtZQ==" />
    <add key="target.sharepoint.domain" value="ad01q" />
    
    <!--Log4Net config-->
    <add key="log4net.Config" value="log4net.config"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ListsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://diddr.na.wkglobal.com/sites/WKHealth/_vti_bin/Lists.asmx"
        binding="basicHttpBinding" bindingConfiguration="ListsSoap"
        contract="DrugInfoDigDocRepo.ListsSoap" name="ListsSoap" />
    </client>
  </system.serviceModel>
</configuration>