<log4net>
  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="Debug" />
    <file value="${EDITORIAL_LOG}\SharepointMigration.Error.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <acceptOnMatch value="false" />
      <levelToMatch  value="INFO" />
    </filter>
  </appender>
  <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="Info" />
    <file value="${EDITORIAL_LOG}\SharepointMigration.Info.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <acceptOnMatch value="true" />
      <levelToMatch  value="INFO" />      
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>
  <root>
    <appender-ref ref="ErrorLogFileAppender" />
    <appender-ref ref="InfoLogFileAppender" />
  </root>
</log4net>